@media(min-width:1146px) {
    .i_section1 .tt {
        font-size: 4.2222em;
        bottom: 1.8421em;
        width: 11em
    }
    .i_section4 .col1_2,
    .i_section4 .col2_2 {
        width: calc(50% - 1.1111em)
    }
    .i_section4 .col2_2 .wpcf7-form textarea {
        height: 13em
    }
    .i_section4 .col1_2 .tx {
        max-width: 14.8em;
        font-size: 1.8em
    }
}

@media(min-width:993px) and (max-width:1145px) {
    .i_section1 .tt {
        font-size: 3.7778em;
        width: 11em;
        bottom: 2.0588em
    }
    .i_section4 .col1_2,
    .i_section4 .col2_2 {
        width: calc(50% - .5555em)
    }
    .i_section4 .col1_2 .tx {
        font-size: 2em
    }
    .i_section4 .wpcf7-form-control {
        margin-bottom: 1em
    }
    .i_section4 .col2_2 .wpcf7-form textarea {
        height: 11em
    }
}

@media(min-width:993px) {
    .i_section:not(.i_section1) {
        padding-top: 3.3333em;
        padding-bottom: 3.3333em
    }
    .i_section.black {
        padding-top: 6.6667em;
        padding-bottom: 6.6667em
    }
    .i_section.black:not(:first-child) {
        margin-top: 3.3333em
    }
    .i_section .tt2 {
        font-size: 2.2em
    }
    .i_section1 {
        margin-bottom: 3.3333em
    }
    .i_section1 .b_link {
        bottom: 7.7778em
    }
    .i_section4 .flx_d {
        display: flex;
        align-items: flex-start;
        justify-content: space-between
    }
    .i_section4 .col1_2 {
        justify-content: flex-start
    }
    .i_section4 .col1_2 .l_socials {
        margin-top: 7em
    }
    .i_section4 .col1_2 .l_socials>.i_tx {
        font-size: 1.4444em
    }
    .i_section4 .col1_2 .l_socials svg {
        width: 2.66667em;
        -webkit-transition: -webkit-filter .2s ease-out;
        -moz-transition: -moz-filter .2s ease-out;
        -ms-transition: -ms-filter .2s ease-out;
        -o-transition: -o-filter .2s ease-out;
        transition: filter .2s ease-out
    }
    .i_section4 .col1_2 .l_socials a:hover svg {
        -webkit-filter: drop-shadow(.4444rem .4444rem 2px rgba(255, 255, 255, .4));
        -moz-filter: drop-shadow(.4444rem .4444rem 2px rgba(255, 255, 255, .4));
        -ms-filter: drop-shadow(.4444rem .4444rem 2px rgba(255, 255, 255, .4));
        -o-filter: drop-shadow(.4444rem .4444rem 2px rgba(255, 255, 255, .4));
        filter: drop-shadow(.4444rem .4444rem 2px rgba(255, 255, 255, .4))
    }
}

@media(max-width:992px) {
    .i_section:not(.i_section1) {
        padding-top: 2.5em;
        padding-bottom: 2.5em
    }
    .i_section.black {
        padding-top: 5em;
        padding-bottom: 5em
    }
    .i_section.black:not(:first-child) {
        margin-top: 2.5em
    }
    .i_section .tt2 {
        font-size: 2.5em
    }
    .i_section1 {
        margin-bottom: 2.5em
    }
    .i_section1 .tt {
        font-size: 3.8889em;
        bottom: 1.4285em;
        width: 9.2em;
        padding-right: .6286em
    }
    .i_section1 .b_link {
        bottom: 5.5556em
    }
    .i_section4 .flx_d>.col2_2:not(:first-child) {
        margin-top: 2.5em
    }
    .i_section4 .col1_2 .tx {
        font-size: 1.7778em;
        width: 15em
    }
    .i_section4 .wpcf7-form .col1_2,
    .i_section4 .wpcf7-form .col2_2 {
        width: calc(50% - 1.1111em)
    }
    .i_section4 .col2_2 .wpcf7-form textarea {
        height: 13em
    }
}

.i_section1 .b_link {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    right: 0
}

.i_section1 .b_link a {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.i_section1 .b_link span {
    font-size: .8889em;
    font-weight: 900;
    letter-spacing: .07em
}

.i_section1 {
    height: 75vh
}

.i_section4 .col1_2 .tx:not(:first-child) {
    margin-top: 1.5em
}

.i_section4 .col1_2 .l_socials .social {
    vertical-align: middle;
    margin-right: 2.2222em
}

.i_section4 .col2_2 .wpcf7-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between
}

.i_section4 .col2_2 .wpcf7-form .col2_2+p {
    width: 100%;
    text-align: right
}